schema/us/ngo/oll/_schemas/partials/codify/codified.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="at">
        <xs:complexType>
            <xs:attribute name="doc" use="required"/>
            <xs:attribute name="path" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="stub">
        <xs:complexType>
            <xs:attribute name="doc" use="required"/>
            <xs:attribute name="path" use="required"/>
        </xs:complexType>
    </xs:element>
</xs:schema>
