schema/us/ngo/oll/_schemas/partials/codify/codify.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="insert">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="InsertType">
                    <xs:attributeGroup ref="TargetAttributesAttrGroup"/>
                    <xs:attributeGroup ref="SharedAttrGroup"/>
                    <xs:attribute name="after" type="xs:string"/>
                    <xs:attribute name="before" type="xs:string"/>
                    <xs:attribute name="num-value" type="xs:string"/>
                    <xs:attribute name="technical" type="xs:string"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="applicabillity" type="ApplicabillityType"/>
    <xs:element name="expire" type="ExpireType"/>
    <xs:element name="create-sub-container" type="CreateSubContainerType"/>
    <xs:element name="emergency" type="EmergencyType"/>
    <xs:element name="funded-anno" type="FundedAnnoType"/>
    <xs:element name="ignore" type="IgnoreType"/>
    <xs:element name="insert-code-container" type="AnyType"/>
    <xs:element name="not-funded-anno" type="NotFundedAnnoType"/>
    <xs:element name="organic" type="OrganicType"/>
    <xs:element name="redesignate" type="AnyType"/>
    <xs:element name="redesignate-para" type="RedesignateParaType"/>
    <xs:element name="recodify-section" type="RecodifySectionType"/>
    <xs:element name="remove" type="AnyType"/>
    <xs:element name="repeal" type="RepealType"/>
    <xs:element name="replace" type="AnyType"/>
    <xs:element name="street-designation-anno" type="StreetDesignationAnnoType"/>
    <xs:element name="temporary" type="TemporaryType"/>
    <xs:element name="find-replace" type="FindReplaceType"/>
    <xs:element name="replace-content" type="ReplaceContentType"/>
    <xs:element name="any">
        <xs:complexType>
            <xs:sequence maxOccurs="unbounded">
                <xs:any processContents="lax"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:group name="InsertElGroup">
        <xs:choice/>
    </xs:group>
    <xs:group name="FindReplaceElGroup">
        <xs:sequence> </xs:sequence>
    </xs:group>
    <xs:complexType name="AnyType">
        <xs:complexContent>
            <xs:extension base="xs:anyType">
                <xs:attributeGroup ref="SharedAttrGroup"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="InsertType">
        <xs:sequence>
            <xs:choice maxOccurs="unbounded" minOccurs="0">
                <xs:element ref="create-sub-container"/>
                <xs:element ref="insert"/>
                <xs:element ref="recodify-section"/>
                <xs:group ref="InsertElGroup" maxOccurs="unbounded" minOccurs="0"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ApplicabillityType">
        <xs:attributeGroup ref="SharedAttrGroup"/>
        <xs:attribute name="action" type="xs:string"/>
        <xs:attribute name="date" type="xs:string"/>
    </xs:complexType>
    <xs:complexType name="FindReplaceType">
        <xs:sequence>
            <xs:group ref="FindReplaceElGroup"/>
        </xs:sequence>
        <xs:attributeGroup ref="TargetAttributesAttrGroup"/>
        <xs:attributeGroup ref="FindReplaceAttrGroup"/>
        <xs:attributeGroup ref="SharedAttrGroup"/>
        <xs:attribute name="count" type="xs:integer" use="optional">
            <!-- @summary: Specifies the number of instances the ``find`` value exists at the target. --> </xs:attribute>
        <xs:attribute name="position" use="optional">
            <!-- @summary: Specifies position of the ``find`` value in the target element, e.g. ``last``, ``first``, ``heading``, or ``text``. -->
            <xs:simpleType>
                <xs:union memberTypes="xs:positiveInteger FirstLastType"/>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="technical" type="xs:string" use="optional">
            <!-- @summary: Specifies a technical change to the transform that is different from the instruction provided by the law.--> </xs:attribute>
        <xs:attribute name="ignore-case" type="xs:boolean"/>
        <xs:attribute name="history-dest" type="xs:string"/>
    </xs:complexType>
    <xs:complexType name="ExpireType">
        <xs:attributeGroup ref="SharedAttrGroup"/>
        <xs:attribute name="date" type="xs:date"/>
    </xs:complexType>
    <xs:complexType name="CreateSubContainerType">
        <xs:attributeGroup ref="SharedAttrGroup"/>
        <xs:attribute name="heading-value" type="xs:string"/>
        <xs:attribute name="num-value" type="xs:string"/>
        <xs:attribute name="prefix-value" type="xs:string"/>
    </xs:complexType>
    <xs:complexType name="EmergencyType">
        <xs:attributeGroup ref="SharedAttrGroup"/>
        <xs:attribute name="action" type="xs:string"/>
    </xs:complexType>
    <xs:complexType name="FundedAnnoType">
        <xs:attributeGroup ref="SharedAttrGroup"/>
    </xs:complexType>
    <xs:complexType name="IgnoreType">
        <xs:attributeGroup ref="SharedAttrGroup"/>
        <xs:attribute name="technical" type="xs:string"/>
    </xs:complexType>
    <xs:complexType name="NotFundedAnnoType">
        <xs:attributeGroup ref="SharedAttrGroup"/>
        <xs:attribute name="action" type="xs:string"/>
        <xs:attribute name="applicability-path" type="xs:string"/>
    </xs:complexType>
    <xs:complexType name="OrganicType">
        <xs:complexContent>
            <xs:extension base="InsertType">
                <xs:attributeGroup ref="SharedAttrGroup"/>
                <xs:attribute name="after" type="xs:string"/>
                <xs:attribute name="before" type="xs:string"/>
                <xs:attribute name="heading-value" type="xs:string"/>
                <xs:attribute name="num-value" type="xs:string"/>
                <xs:attribute name="prefix-value" type="xs:string"/>
                <xs:attribute name="tag" type="xs:string"/>
                <xs:attribute name="technical" type="xs:string"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="RedesignateParaType">
        <xs:attributeGroup ref="SharedAttrGroup"/>
        <xs:attribute name="num-value" type="xs:string"/>
    </xs:complexType>
    <xs:complexType name="RecodifySectionType">
        <xs:attributeGroup ref="SharedAttrGroup"/>
        <xs:attribute name="after" type="xs:string"/>
        <xs:attribute name="before" type="xs:string"/>
        <xs:attribute name="num-value" type="xs:string"/>
        <xs:attribute name="destination-path" type="xs:string"/>
    </xs:complexType>
    <xs:complexType name="RepealType">
        <xs:attributeGroup ref="SharedAttrGroup"/>
        <xs:attribute name="technical" type="xs:string"/>
    </xs:complexType>
    <xs:complexType name="StreetDesignationAnnoType">
        <xs:attributeGroup ref="SharedAttrGroup"/>
        <xs:attribute name="action" type="xs:string"/>
    </xs:complexType>
    <xs:complexType name="TemporaryType">
        <xs:attributeGroup ref="SharedAttrGroup"/>
        <xs:attribute name="action" type="xs:string"/>
        <xs:attribute name="emergency" type="xs:string"/>
    </xs:complexType>
    <xs:complexType name="ReplaceContentType">
        <xs:attribute name="path" type="xs:string"/>
        <xs:attribute name="doc" type="xs:string"/>
    </xs:complexType>
    <xs:simpleType name="FirstLastType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="first"/>
            <xs:enumeration value="last"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="FalseOnlyType">
        <!-- @internalTarget: appendix_falseOnlyType -->
        <xs:restriction base="xs:string">
            <xs:pattern value="false"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:attributeGroup name="SharedAttrGroup">
        <xs:attribute name="display" type="xs:string" use="optional">
            <!-- @summary: Redefines default marginalia instruction  --> </xs:attribute>
        <xs:attribute name="display-template" type="xs:string" use="optional">
            <!-- @summary: Redefines default marginalia template  --> </xs:attribute>
        <xs:attribute name="history" type="FalseOnlyType" use="optional">
            <!-- @summary: Setting ``history=false`` to prevent creation of a history entry.--> </xs:attribute>
        <xs:attribute name="history-prefix" type="xs:string" use="optional">
            <!-- @summary: Prepends the attribute value to the history entry's text. --> </xs:attribute>
        <xs:attribute name="warning" type="FalseOnlyType" use="optional">
            <!-- @summary: Set ``warning=false`` to prevent warning when applying this transform. -->
        </xs:attribute>
    </xs:attributeGroup>
    <xs:attributeGroup name="AllAttributesAttrGroup">
        <xs:attribute ref="applicability" use="optional"/>
        <xs:attribute ref="doc" use="optional"/>
        <xs:attribute name="display" type="xs:string" use="optional"/>
        <xs:attribute name="display-template" type="xs:string" use="optional"/>
        <xs:attribute ref="expire" use="optional"/>
        <xs:attribute name="history" type="FalseOnlyType" use="optional"/>
        <xs:attribute name="history-prefix" type="xs:string" use="optional"/>
        <xs:attribute ref="instruction" use="optional"/>
        <xs:attribute ref="path" use="optional"/>
        <xs:attribute ref="value" use="optional"/>
        <xs:attribute name="warning" type="FalseOnlyType" use="optional"/>
    </xs:attributeGroup>
    <xs:attributeGroup name="TargetAttributesAttrGroup">
        <xs:attribute ref="doc" use="optional"/>
        <xs:attribute ref="path" use="optional"/>
    </xs:attributeGroup>
    <xs:attributeGroup name="FindReplaceAttrGroup">
        <xs:attribute name="find" type="xs:string" use="optional">
            <!-- @summary: Specifies the text to be found at the target. --> </xs:attribute>
        <xs:attribute name="replace" type="xs:string" use="optional">
            <!-- @summary: Specifies the replacement text. --> </xs:attribute>
    </xs:attributeGroup>
    <xs:attribute name="applicability" type="xs:string"/>
    <xs:attribute name="doc" type="xs:string"/>
    <xs:attribute name="expire" type="xs:string"/>
    <xs:attribute name="instruction" type="xs:string"/>
    <xs:attribute name="path" type="xs:string"/>
    <xs:attribute name="warning" type="FalseOnlyType"/>
    <xs:attribute name="value" type="xs:string"/>
</xs:schema>
