schema/us/ngo/oll/_schemas/partials/docs/default.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    xmlns:xi="http://www.w3.org/2001/XInclude">
    <xs:import namespace="http://www.w3.org/2001/XInclude" schemaLocation="../../libs/XInclude.xsd"/>
    <xs:include schemaLocation="../shared.xsd"/>
    <xs:element name="document" type="DocumentType"/>
    <xs:element name="num" type="NumType"/>
    <xs:element name="temporary" type="TemporaryType"/>
    <xs:element name="law" type="RecencyInfo"/>
    <xs:element name="emergency" type="RecencyInfo"/>
    <xs:element name="federal" type="RecencyInfo"/>
    <xs:element name="recency" type="RecencyType"/>
    <xs:element name="citation" type="CitationType"/>
    <xs:element name="citations" type="CitationsType"/>
    <xs:element name="history" type="HistoryType"/>
    <xs:element name="search-text" type="SearchTextType"/>
    <xs:element name="page" type="PageType"/>
    <xs:element name="container" type="ContainerType"/>
    <xs:element name="prefix" type="PrefixType"/>
    <xs:element name="section" type="SectionType"/>
    <xs:element name="reason" type="ReasonType"/>
    <xs:element name="toc" type="TocType"/>
    <xs:element name="include" type="IncludeType"/>
    <xs:element name="para" type="ParaType"/>
    <xs:element name="aftertext" type="AftertextType"/>
    <xs:element name="annotation" type="AnnotationType"/>
    <xs:element name="annotations" type="AnnotationsType"/>
    <xs:element name="subsection" type="SubsectionType"/>
    <xs:element name="toc-container" type="TocContainerType"/>
    <xs:element name="toc-section" type="TocSectionType"/>
    <xs:element name="sec-container" type="SectionContainerType"/>
    <xs:element name="find" type="xs:anyType"/>
    <xs:element name="replace" type="xs:anyType"/>
    <xs:element name="meta" type="MetaType"/>
    <xs:element name="introduced" type="DateOrEmptyType"/>
    <xs:element name="effective" type="DateOrEmptyType"/>
    <xs:group name="SectionBodyElGroup">
        <xs:choice>
            <xs:element minOccurs="0" ref="heading"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="text"/>
            <xs:element ref="toc" minOccurs="0"/>
            <xs:element ref="include" minOccurs="0"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="sec-container"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="para"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="aftertext"/>
            <xs:element minOccurs="0" ref="annotations"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="annotation"/>
        </xs:choice>
    </xs:group>
    <xs:group name="SectionHeaderElGroup">
        <xs:sequence/>
    </xs:group>
    <xs:group name="DocumentHeaderElGroup">
        <xs:sequence/>
    </xs:group>
    <xs:group name="DocumentBodyElGroup">
        <xs:sequence/>
    </xs:group>
    <xs:group name="DocumentFooterElGroup">
        <xs:choice/>
    </xs:group>
    <xs:group name="TocExtensionElGroup">
        <xs:choice/>
    </xs:group>
    <xs:group name="ContainerHeaderElGroup">
        <xs:sequence/>
    </xs:group>
    <xs:group name="ContainerBodyElGroup">
        <xs:sequence/>
    </xs:group>
    <xs:group name="ContainerFooterElGroup">
        <xs:sequence/>
    </xs:group>
    <xs:group name="IncludeBodyElGroup">
        <xs:choice/>
    </xs:group>
    <xs:group name="ParaHeaderElGroup">
        <xs:choice/>
    </xs:group>
    <xs:group name="ParaFooterElGroup">
        <xs:sequence/>
    </xs:group>
    <xs:complexType name="DocumentType">
        <xs:sequence>
            <xs:group minOccurs="0" ref="DocumentHeaderElGroup"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="num"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="heading"/>
            <xs:element ref="meta" minOccurs="1"/>
            <xs:group minOccurs="0" ref="DocumentBodyElGroup"/>
            <xs:sequence minOccurs="0" maxOccurs="1">
                <xs:choice maxOccurs="unbounded" minOccurs="0">
                    <xs:element ref="text"/>
                    <xs:element ref="xi:include"/>
                    <xs:element ref="page"/>
                    <xs:element ref="container"/>
                    <xs:element ref="section"/>
                    <xs:element ref="para"/>
                    <xs:element ref="subheading"/>
                    <xs:element minOccurs="0" ref="toc"/>
                    <xs:group ref="DocumentFooterElGroup"/>
                </xs:choice>
            </xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="annotation"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:string"/>
        <xs:attribute name="flag" type="xs:boolean"/>
        <xs:attribute name="url" type="xs:string"/>
        <xs:attributeGroup ref="DocumentTypeAttrGroup"/>
    </xs:complexType>
    <xs:complexType name="NumType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="type" type="xs:string"/>
                <xs:attribute name="undesignated" type="xs:string"/>
                <xs:attribute name="proof">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="needed"/>
                            <xs:enumeration value="done"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="MetaType">
        <xs:choice maxOccurs="unbounded">
            <xs:element minOccurs="0" name="introduced" nillable="true" type="DateOrEmptyType"/>
            <xs:element minOccurs="0" name="effective" type="DateOrEmptyType"/>
            <xs:element minOccurs="0" ref="temporary"/>
            <xs:element minOccurs="0" ref="recency"/>
            <xs:element minOccurs="0" ref="citations"/>
            <xs:element minOccurs="0" ref="history"/>
            <xs:element minOccurs="0" ref="search-text"/>
            <xs:element name="print" type="PrintType" minOccurs="0"/>
            <xs:element name="stub"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="TemporaryType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="emergency" type="xs:string"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="RecencyType">
        <xs:sequence>
            <xs:element ref="law"/>
            <xs:element ref="emergency"/>
            <xs:element ref="federal"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RecencyInfo">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="doc" type="xs:string"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="CitationType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="url" type="xs:string"/>
                <xs:attribute name="type" type="xs:string"/>
                <xs:attribute name="proof" type="xs:string"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="CitationsType">
        <xs:sequence>
            <xs:choice maxOccurs="unbounded">
                <xs:element ref="citation"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="HistoryType">
        <xs:complexContent>
            <xs:extension base="xs:anyType">
                <xs:attribute name="url" type="xs:string"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="SearchTextType">
        <xs:simpleContent>
            <xs:extension base="xs:string"/>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="PageType">
        <xs:attribute name="citation" type="xs:string"/>
    </xs:complexType>
    <xs:complexType name="ContainerType">
        <xs:sequence>
            <xs:sequence>
                <xs:group ref="ContainerHeaderElGroup"/>
                <xs:element minOccurs="0" ref="prefix"/>
                <xs:element minOccurs="0" ref="num"/>
                <xs:element ref="heading"/>
                <xs:group ref="ContainerBodyElGroup"/>
            </xs:sequence>
            <xs:choice maxOccurs="unbounded">
                <xs:element minOccurs="0" ref="xi:include"/>
                <xs:element ref="subheading"/>
                <xs:element ref="section"/>
                <xs:element ref="container"/>
                <xs:element ref="text"/>
                <xs:element ref="para"/>
                <xs:element minOccurs="0" ref="toc"/>
                <xs:group ref="ContainerFooterElGroup"/>
                <xs:element ref="annotations"/>
            </xs:choice>
        </xs:sequence>
        <xs:attribute name="containing-doc" type="xs:string"/>
        <xs:attribute name="enacted" type="xs:string"/>
        <xs:attribute name="id" type="xs:string"/>
    </xs:complexType>
    <xs:complexType name="PrefixType">
        <xs:simpleContent>
            <xs:extension base="xs:string"/>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="SectionType">
        <xs:sequence>
            <xs:group minOccurs="0" ref="SectionHeaderElGroup"/>
            <xs:element minOccurs="0" ref="prefix"/>
            <xs:element ref="num"/>
            <xs:element ref="reason" minOccurs="0"/>
            <xs:sequence>
                <xs:group ref="SectionBodyElGroup" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:sequence>
        <xs:attribute name="containing-doc" type="xs:string"/>
    </xs:complexType>
    <xs:complexType name="ReasonType">
        <xs:simpleContent>
            <xs:extension base="xs:string"/>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="TocType">
        <xs:choice maxOccurs="unbounded">
            <xs:element ref="text"/>
            <xs:element ref="toc-container"/>
            <xs:element ref="toc-section"/>
            <xs:group ref="TocExtensionElGroup"/>
        </xs:choice>
        <xs:attribute name="containing-doc" type="xs:string"/>
    </xs:complexType>
    <xs:complexType name="IncludeType">
        <xs:sequence>
            <xs:choice maxOccurs="unbounded">
                <xs:element ref="container"/>
                <xs:element ref="section"/>
                <xs:element ref="para"/>
                <xs:element ref="text"/>
                <xs:element ref="subsection"/>
                <xs:element ref="toc"/>
                <xs:element ref="aftertext"/>
                <xs:group ref="IncludeBodyElGroup"/>
            </xs:choice>
        </xs:sequence>
        <xs:attribute name="lvl" type="xs:string"/>
        <xs:attribute name="proof" type="ProofAttrType"/>
    </xs:complexType>
    <xs:complexType name="ParaType">
        <xs:sequence>
            <xs:group minOccurs="0" ref="ParaHeaderElGroup" maxOccurs="unbounded"/>
            <xs:element ref="prefix" minOccurs="0"/>
            <xs:element ref="num"/>
            <xs:element ref="heading" minOccurs="0"/>
            <xs:choice maxOccurs="unbounded">
                <xs:element ref="para" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element ref="text" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element maxOccurs="unbounded" minOccurs="0" ref="include"/>
                <xs:element maxOccurs="unbounded" minOccurs="0" ref="annotation"/>
                <xs:element minOccurs="0" ref="aftertext"/>
                <xs:group minOccurs="0" ref="ParaFooterElGroup"/>
            </xs:choice>
        </xs:sequence>
        <xs:attribute name="proof" type="ProofAttrType"/>
    </xs:complexType>
    <xs:complexType name="AftertextType">
        <xs:complexContent>
            <xs:extension base="xs:anyType"> </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="AnnotationType">
        <xs:complexContent>
            <xs:extension base="xs:anyType">
                <xs:attributeGroup ref="TargetAttributesAttrGroup"/>
                <xs:attribute name="type" type="AnnotationTypes"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="AnnotationsType">
        <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element ref="text"/>
            <xs:element ref="annotation"/>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="SubsectionType">
        <xs:sequence>
            <xs:element ref="num"/>
            <xs:element minOccurs="0" ref="heading"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="text"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="para"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TocContainerType">
        <xs:sequence>
            <xs:element minOccurs="0" ref="prefix"/>
            <xs:element ref="num"/>
            <xs:element ref="heading"/>
            <xs:choice maxOccurs="unbounded">
                <xs:element ref="toc-container"/>
                <xs:element ref="toc-section"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TocSectionType">
        <xs:sequence>
            <xs:element ref="num"/>
            <xs:element ref="heading"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SectionContainerType">
        <xs:sequence>
            <xs:element minOccurs="0" ref="prefix"/>
            <xs:element ref="num"/>
            <xs:element ref="heading"/>
            <xs:choice maxOccurs="unbounded">
                <xs:element ref="sec-container"/>
                <xs:element ref="para"/>
                <xs:element ref="text"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PrintType">
        <xs:sequence>
            <xs:element name="volumes">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" name="volume" type="VolumeType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="VolumeType">
        <xs:attribute name="start" type="xs:string"/>
    </xs:complexType>
    <xs:simpleType name="DateOrEmptyType">
        <xs:union memberTypes="xs:date EmptyStringType"/>
    </xs:simpleType>
    <xs:simpleType name="EmptyStringType">
        <xs:restriction base="xs:string">
            <xs:enumeration value=""/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AnnotationTypes">
        <!-- @summary: Specifies the type of annotation generated. -->
        <xs:restriction base="xs:string">
            <xs:enumeration value="History"/>
            <xs:enumeration value="Prior Codifications"/>
            <xs:enumeration value="Section References"/>
            <xs:enumeration value="Effect of Amendments"/>
            <xs:enumeration value="Cross References"/>
            <xs:enumeration value="Expiration of Law"/>
            <xs:enumeration value="Applicability"/>
            <xs:enumeration value="Emergency Legislation"/>
            <xs:enumeration value="Temporary Legislation"/>
            <xs:enumeration value="Legislative History"/>
            <xs:enumeration value="Short Title"/>
            <xs:enumeration value="Transfer of Functions"/>
            <xs:enumeration value="References in Text"/>
            <xs:enumeration value="Effective Dates"/>
            <xs:enumeration value="Budget Legislation"/>
            <xs:enumeration value="Editor's Notes"/>
            <xs:enumeration value="Repeal of Law"/>
            <xs:enumeration value="Mayor's Statement"/>
            <xs:enumeration value="Mayor's Orders"/>
            <xs:enumeration value="Delegation of Authority"/>
            <xs:enumeration value="New Implementing Regulations"/>
            <xs:enumeration value="Uniform Commercial Code Comment"/>
            <xs:enumeration value="Change in Government"/>
            <xs:enumeration value="Construction of Law"/>
            <xs:enumeration value="Severability of Law"/>
            <xs:enumeration value="Congressional Disapproval of Acts of the Council"/>
            <xs:enumeration value="Resolutions"/>
            <xs:enumeration value="Omission of Text"/>
            <xs:enumeration value="Rules to implement law"/>
            <xs:enumeration value="Commentary"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ProofAttrType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="done"/>
            <xs:enumeration value="needed"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:attributeGroup name="DocumentTypeAttrGroup">
        <xs:attribute name="containing-doc" type="xs:string"/>
    </xs:attributeGroup>
</xs:schema>
